// Custom social icon overrides to avoid merge conflicts
.simple-icon {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  vertical-align: -0.125em;
  background-color: var(--global-text-color);
  -webkit-mask: var(--social-icon-mask) no-repeat center / contain;
  mask: var(--social-icon-mask) no-repeat center / contain;
  &:hover {
    background-color: var(--global-theme-color);
  }
}
