<div class="languages-list">
  {% for content in data[1] %}
    <div class="language-item">
      <div class="language-header">
        <i class="language-icon fas fa-comments"></i>
        <div class="language-name">{{ content.language }}</div>
      </div>
      <div class="language-fluency">{{ content.fluency }}</div>
    </div>
  {% endfor %}
</div>
